<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-flag fa-lg"></i>&nbsp;&nbsp;<b>EMAS's Mission Statement</b></h3> </div>
                    <div class="mission-vision-content">
                        <p> Ethiopian Muslims Association of Seattle (EMAS) is a non-profit and non-political organization. EMAS is organized primarily and exclusively for religious purposes: for the protection and promotion of the religion of Islam within our community in the state of Washington.
                            <br />
                            <br />Therefore, its mission and cores values include: </p>
                        <ul>
                            <li class="li-bullets">To protect and preserve our religious heritage and bridge cultural gaps, and to make a lasting and positive impact in the lives of the association community members.</li>
                            <li class="li-bullets">To improve and inspire its members in education settings in their native language.</li>
                            <li class="li-bullets">To strengthen the capacity of our members to achieve their goals in their lives, and to build and maintain a supportive relationship with the personal, moral, ethical, good citizens, and professional communities in which we live and work.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-eye fa-lg"></i>&nbsp;&nbsp;<b>EMAS's Objective and Purpose</b></h3> </div>
                    <div class="mission-vision-content">
                        <p> <strong>Objectives:</strong>&nbsp;The primary objective of our religious corporation is the care of our members in the community devoted to our religion and to collect and disseminate accurate information about East Africans.
                            <br />
                            <br />The objective of this association is to serve as an instrument of the East Africans members of the association to preach our religion to all members, to make disciples in all EMAS member families whom have difficulty with English language and to bridge cultural gaps.
                            <br />
                            <br /> <strong>Purposes:</strong>&nbsp;The primary purpose of this corporation shall be to promote the instruction and practice of Islamic religion according to the traditions of Islam and to encourage peaceful communion in accordance with Islamic Principles.
                            <br />
                            <br /> The purpose of EMAS is dedicated to protect and preserve our Islamic cultural original tradition religious heritage; to strengthen the capacity of our members to achieve their goals in their lives and on behalf of their families in their traditional ways. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>