<section class="section-current-month">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table id="current-month-table" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <td colspan="12" id="cm-prayer-title">EMAS Prayer Times for the month of{{currentMonth}}</td>
                            </tr>
                            <tr id="cm-prayer-header">
                                <th>Day</th>
                                <th>Fajir</th>
                                <th>Fajir Iqamah</th>
                                <th>Sunrise</th>
                                <th>Duhur</th>
                                <th>Duhur Iqamah</th>
                                <th>Asr</th>
                                <th>Asr Iqamah</th>
                                <th>Maghrib</th>
                                <th>Maghrib Iqamah</th>
                                <th>Isha</th>
                                <th>Isha Iqamah</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="current-month-bottom">
                <P>The prophet Mohammed(SAW) said "Charity extinguishes the sin just as water extinguishes the fire." Please don't forget the Masjid from your generous donations. Barekellahufikum! May Allah bless your wealth! </P>
            </div>
        </div>
    </div>
</section>