<section class="section-direction">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="col-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5395.6029204899305!2d-122.28501618651143!3d47.454809464707424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490434add65e609%3A0xc1209794cccf25fb!2s3730+S+166th+St!5e0!3m2!1sen!2sus!4v1393028780361" width="" height="" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-road fa-lg"></i>&nbsp;&nbsp;Directions and Parking</h3> </div>
                    <div class="mission-vision-content">
                        <p>The Ehtiopian Muslims Association of Seattle (EMAS) is conveniently located in a quite SeaTac neighbourhood across McMicken Heights Elementary School at the address:
                            <br /> <address>
                                        3730 S 166th St<br>
                                        SeaTac, WA 98188<br>
                                        USA<br>
                                  </address>
                            <br><strong><em>All parkings should be inside the Masjid complex. During busy times, please work with staffs to park outside in allowed areas.</em></strong> </div>
                </div>
            </div>
        </div>
    </div>
</section>