<section class="section-carousel">
	<div class="container-fluid">
		<div class="row">
			<div id="carousel-slider" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active"> <img class="first-slide" src="../resources/images/emascompound.jpg" alt="First slide">
							<div class="container">
								<div class="carousel-caption">
									<h1>Ethiopian Muslims Association Of Seattle</h1>
									<p>Ethiopian Muslims Association of Seattle (EMAS) is a non-profit and non-political organization. EMAS is organized primarily and exclusively for religious purposes: for the protection and promotion of the religion of Islam within our community in the state of Washington.</p>
									<p><a class="btn btn-lg btn-default" href="/about" role="button">Learn more</a></p>
								</div>
							</div>
						</div>
						<div class="item"> <img class="second-slide" src="../resources/images/masjid.jpg" alt="Second slide">
							<div class="container">
								<div class="carousel-caption">
									<h1>Donate towards your masjid <br></h1>
									<h1>
                                            <blockquote>
                                                <i class="fa fa-quote-left"></i>
                                               Those who spend their wealth [in Allah 's way] by night and by day, secretly and publicly - they will have their reward with their Lord. And no fear will there be concerning them, nor will they grieve.
                                                <i class="fa fa-quote-right"></i>
                                                <cite>Surah Al-Baqarah (2:274)</cite>
                                            </blockquote>
                                        </h1>
									<p><a class="btn btn-lg btn-default" href="/donate" role="button">Donate towards EMAS</a></p>
								</div>
							</div>
						</div>
						<div class="item"> <img class="third-slide img-responsive" src="../resources/images/learnislam.jpg" alt="Third slide">
							<div class="container">
								<div class="carousel-caption">
									<h1>Learn more about your deen</h1>
									<p>Follow the link below to find resources to learn about your deen. You will find resources related to Qruan and Hadith, Medias related to Ethiopian muslims (i.e. Badr Ethiopia, Bilal Communications, Ethio Muslims Media, Radio Negash, etc ...) as well as International Islamic Brodcasting channels(e.g. Peace TV, Huda TV, Guide Us TV, etc) and more...</p>
									<p><a class="btn btn-lg btn-default" href="/resources" role="button">Learn more</a></p>
								</div>
							</div>
						</div>
						<div class="item"> <img class="fourth-slide img-responsive" src="../resources/images/emascompound.jpg" alt="Fourth slide" />
							<div class="container">
								<div class="carousel-caption">
									<h1>Prayer Schedule <br><br>
                                          <blockquote>
                                            <i class="fa fa-quote-left"></i>
                                            Indeed, prayer has been decreed upon the believers a decree of specified times.
                                            <i class="fa fa-quote-right"></i>
                                            <cite>Surah An-Nisa (4:103)</cite>
                                        </blockquote>
                                      </h1>
									<p class="lead">Use the link below to download the current month Salat schedule.</p>
									<p><a class="btn btn-lg btn-default" href="/current-month" target="_blank" role="button">Salat Schedule</a></p>
								</div>
							</div>
						</div>
						<div class="item"> <img class="fifth-slide img-responsive" src="../resources/images/multimedia.jpg" alt="Fifth slide">
							<div class="container">
								<div class="carousel-caption">
									<h1>Emas Multimedia</h1>
									<p>EMAS has a dedicated multimedia site to serve you. Our multimedia consists of audios, videos, photos, blogs and press that will feature the different activities that will be held around EMAS, blogs on different categories, topics related to Ethiopian Muslims, and more! Enter your email address to subscribe and receive notification of new posts by email.</p>
									<p><a class="btn btn-lg btn-default" href="http://www.emasseattle.org/multimedia" target="_blank" role="button">Visit Multimedia</a></p>
								</div>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target="_self"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" target="_self"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 prayer-times ">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<td colspan="3" class="prayer-emas">EMAS Prayer Times</td>
						</tr>
						<tr class="date-header">
							<td colspan="3">
								<p id="todaysDate">{{todayDateString}}</p>
							</td>
						</tr>
						<tr>
							<th class="prayer-header"></th>
							<th class="prayer-header">Adhan</th>
							<th class="prayer-header">Iqamah</th>
						</tr>
						<tr>
							<td class="prayer-header">Fajir</td>
							<td class="warning" id="fajirAdhan">{{prayerData[key].fajir}}AM</td>
							<td class="success" id="fajirIqamah">{{prayerData[key].fajirIqamah}}AM</td>
						</tr>
						<tr>
							<td class="prayer-header">Sunrise</td>
							<td colspan="2" class="prayer-uni col-span" id="sunrise">{{prayerData[key].sunrise}}AM</td>
						</tr>
						<tr>
							<td class="prayer-header">Duhur</td>
							<td class="warning" id="duhurAdhan">{{prayerData[key].duhur}}PM</td>
							<td class="success" id="duhurIqamah">{{prayerData[key].duhurIqamah}}PM</td>
						</tr>
						<tr>
							<td class="prayer-header">Asr</td>
							<td class="warning" id="asrAdhan">{{prayerData[key].asr}}PM</td>
							<td class="success" id="asrIqamah">{{prayerData[key].asrIqamah}}PM</td>
						</tr>
						<tr>
							<td class="prayer-header">Maghrib</td>
							<td class="warning" id="maghribAdhan">{{prayerData[key].maghrib}}PM</td>
							<td class="success" id="maghribIqamah">{{prayerData[key].maghribIqamah}}PM</td>
						</tr>
						<tr>
							<td class="prayer-header">Isha</td>
							<td class="warning" id="ishaAdhan">{{prayerData[key].isha}}PM</td>
							<td class="success" id="ishaIqamah">{{prayerData[key].ishaIqamah}}PM</td>
						</tr>
						<tr>
							<td class="prayer-header">Jumua</td>
							<td colspan="2" class="prayer-uni col-span">12:30PM</td>
						</tr>
						<tr class="prayer-schedule">
							<td colspan="3"> <a id="prayer-schedule" href="/current-month" target="_blank">{{currentMonth + ' prayer schedule'}}</a> </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-announcement">
	<div class="container-fluid">
		<div class="row">
			<h2>EMAS &mdash; Contact us and daily hadith</h2> </div>
		<div class="row">
			<div id="contact-us" class="col-xs-12 col-sm-7 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 ">
				<div class="col-wrapper">
					<div>
						<h3><i class="fa fa-envelope"></i>&nbsp;Contact us</h3> </div>
					<div class="announcement-content">
						<p> Have any questions or inquiries? you may contact us through the following channels:
							<br/>
							<br /> <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;(206) 243-1251 or
							<br /> <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;info@emasseattle.org
							<br/>
							<br /> You may also come and talk to us in person using our address below:</p> <address>
                                        3730 S 166th St<br>
                                        SeaTac, WA 98188<br>
                                        USA<br>
                                    </address>
						<p> Also, if you have any questions, feedbacks or other inquiries please follow the link below, fill out the form and send it to us. We will contact you as soon as possible. JZK!</p>
					</div>
					<div class="announcement-footer">
						<p><a class="btn btn-primary" href="http://www.emasseattle.org/multimedia/?page_id=101" target="_blank">Contact Us</a></p>
					</div>
				</div>
			</div>
			<div id="newsletter" class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<div class="col-wrapper">
					<div>
						<h3><span class="glyphicon glyphicon-book"></span>&nbsp;Hadith of The Day!</h3> </div>
					<div class="announcement-content">
						<p>{{hadithData[key].hadith}}</p>
					</div>
					<div class="announcement-footer">
						<p><cite><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;{{hadithData[key].source}}</cite></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-reminders">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h2>Verse of the Day</h2>
					<h3>{{quranData[key].arabic}}</h3>
					<quote> <i class="fa fa-quote-left"></i> {{quranData[key].english}} <i class="fa fa-quote-right"></i> <cite><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp; {{quranData[key].source}}</cite> </quote>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-divider">
					<h2>Supplication of the day</h2>
					<h4>{{supplicationData[key].supplication}}</h4>
					<h3>{{supplicationData[key].arabic}}</h3>
					<quote> <i class="fa fa-quote-left"></i> {{supplicationData[key].english}} <i class="fa fa-quote-right"></i> <cite><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp; {{supplicationData[key].source}}</cite> </quote>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-services">
	<div class="container">
		<h2>EMAS &mdash; Services</h2>
		<div class="row services">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
				<h3>Five daily prayers</h3>
				<p>One of the core services EMAS offers is prayer (Salah). There are separate prayer halls for men and women, with separate wudhu (abolution) areas. EMAS is a full time masjid (mosque) that conducts the five daily salah (prayer services), seven days a week, all year long.</p>
				<p><a class="btn btn-default" href="/services" role="button">Learn more &raquo;</a></p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
            </span>
				<h3>Islamic Funerals</h3>
				<p> In the case of death, EMAS has the facility to accommodate the burial preparations. We also welcome our brothers and sisters of other faiths to join us during the actual janazah prayer (funeral prayer) to offer condolences to the family of the deceased.</p>
				<p><a class="btn btn-default" href="/services" role="button">Learn more &raquo;</a></p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
            </span>
				<h3>Financial Assistance</h3>
				<p>EMAS gladly offers financial assistance to those who are in need. We simply ask that you provide us with the required information demonstrating your need for financial assistance. For more information please feel free to give us a call or email us.</p>
				<p><a class="btn btn-default" href="/services" role="button">Learn more &raquo;</a></p>
			</div>
		</div>
	</div>
</section>
<section class="section-programs">
	<div class="container">
		<h2>EMAS &mdash; Programs</h2>
		<div class="row programs">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
				<h3>Adults</h3>
				<p>EMAS offers a Quran tafseer after Maghrib By Sheikh Abdulaziz M.Amin every Friday, a Hadith class after Maghrib By Sheikh Abdulaziz M.Amin and a Quran Tajweed By Ustaz Sa'ad Bahrezien starting from 5 till Isha every Sunday.</p>
				<p><a class="btn btn-default" href="/programs" role="button">Learn more &raquo;</a></p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-child fa-stack-1x fa-inverse"></i>
            </span>
				<h3>Children</h3>
				<p>EMAS offers different programs and activities for the youth childern. We have a Quran Tajweed and memorization and an Arabic study and Islamic history from 10AM - 2PM every Saturday and every Sunday.</p>
				<p><a class="btn btn-default" href="/programs" role="button">Learn more &raquo;</a></p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
				<h3>Monthly meeting</h3>
				<p>EMAS's monthly meeting will be held the first saturday of every month and we strongly recommend every member to attend this meeting. Not a member yet? Well, you can still come and attend our monthly meeting.</p>
				<p><a class="btn btn-default" href="/programs" role="button">Learn more &raquo;</a></p>
			</div>
		</div>
	</div>
</section>