<section class="section-leadership">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;BOARD OF DIRECTORS</h3> </div>
                    <div class="services-content">
                        <ol>
                            <li class="lead">Yahya Khedr&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;Chairman</li>
                            <li class="lead">Mustafa Getahun&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;V/Chairman</li>
                            <li class="lead">Yesihak Hassen&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Secretary</li>
                            <li class="lead">Siraje Anwar&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                            <li class="lead">Murad Hussien&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;EXECUTIVE DIRECTORS</h3> </div>
                    <div class="services-content">
                        <ol>
                            <li class="lead">Hadi Sherka&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;President</li>
                            <li class="lead">Ismail Mohammed&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Secretary</li>
                            <li class="lead">Muna Amdala&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Secretary</li>
                            <li class="lead">Abdulaziz Ibrahim&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;PR</li>
                            <li class="lead">Sherefedin Getahun &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Treasurer</li>
                            <li class="lead">Amina Abdela&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                            <li class="lead">Fetya Shafia&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                            <li class="lead">Zumara Abasiml&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                            <li class="lead">Kemeriya Hussen&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;Member</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;MASJID COMMITTEE</h3> </div>
                    <div class="services-content">
                        <ol>
                            <li class="lead">Mustafa Abegaz</li>
                            <li class="lead">Tahir Hussein</li>
                            <li class="lead">Amina Abdela</li>
                            <li class="lead">Said Y.Ahmed</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;DA'AWA COMMITTEE</h3> </div>
                    <div class="services-content">
                        <ol>
                            <li class="lead" style="color:darkred"><b>Sheikh Abdulaziz M.Amin&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;IMAM</b></li>
                            <li class="lead">Sheikh Edris M. Shukru</li>
                            <li class="lead">Mohammed Ali</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>