<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;Adult Programs</h3> </div>
                    <div class="services-content">
                        <p> EMAS Offers the following programs for Adults: </p>
                        <ul>
                            <li>Every Friday: Quran Tafseer after Maghrib By Sheikh Abdulaziz M.Amin</li>
                            <li>Every Saturday: Hadith class after Maghrib By Sheikh Abdulaziz M.Amin</li>
                            <li>Every Sunday: Quran Tajweed By Ustaz Sa'ad Bahrezien starting from 5 till Isha</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;Women's Programs</h3> </div>
                    <div class="services-content">
                        <p> EMAS Offers the following programs for WOMEN:
                            <br> InshaAllah, the detail of the list will be coming soon. </p>
                        <ul>
                            <li>Every Friday: Quran Tafseer after Maghrib By Sheikh Abdulaziz M.Amin</li>
                            <li>Every Saturday: Hadith class after Maghrib By Sheikh Abdulaziz M.Amin</li>
                            <li>Every Sunday: Quran Tajweed By Ustaz Sa'ad Bahrezien starting from 5 till Isha</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-child fa-lg"></i>&nbsp;&nbsp;Children Programs</h3> </div>
                    <div class="services-content">
                        <p> EMAS Offers the following programs for Children: </p>
                        <ul>
                            <li>Every Sat & Sun: Quran Tajweed and Memorization from 10AM - 2PM</li>
                            <li>Every Sat & Sun: Arabic study and Islamic history from 10AM - 2PM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;Monthly Meeting</h3> </div>
                    <div class="services-content">
                        <p> EMAS's monthly meeting will be held the first saturday of every month and we strongly recommend every member to attend this meeting on a regular basis. Not a member yet? Well, you don't have to be! you can still come and attend our monthly meeting and all the other activities. But we would love you to be a member </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>