<section class="section-resources">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Badr</h3> </div>
                    <div class="resources-text">
                        <p> Badr Ethiopia is an International Ethiopian Muslims Organization. </p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.badrethiopia.org/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Bilal</h3> </div>
                    <div class="resources-text">
                        <p> Bilal Communications. A one stop for latest updates on Ethiopian Muslims. </p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.bilaltube.com/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Ethio Muslims</h3> </div>
                    <div class="resources-text">
                        <p> Ethiopian muslims media to learn about your deen and latest updates on ethiopian muslims. </p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.ethiomuslimsmedia.com/" target="_blank">Learn more </a> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Peace Tv</h3> </div>
                    <div class="resources-text">
                        <p>Watch Peach TV. A 24/7 Islamic International TV Channel.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.peacetv.tv/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Huda Tv</h3> </div>
                    <div class="resources-text">
                        <p>Watch Huda TV. An International Islamic channel broadcasted in English.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.huda.tv/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Guide Us Tv</h3> </div>
                    <div class="resources-text">
                        <p>An Islamic TV Broadcasting Channel. Get guided with Guide Us TV.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.guideus.tv/" target="_blank">Learn more </a> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Africa Tv</h3> </div>
                    <div class="resources-text">
                        <p>A video sharing site for Islamic studies and topics related to Ethiopian Muslims.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://africatv.sd/tv1/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>Radio Negash</h3> </div>
                    <div class="resources-text">
                        <p>Listen to Radio Negash to hear latest news updates and learn your deen.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://radionegashi.ethiopianmuslims.net/" target="_blank">Learn more </a> </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-wrapper">
                    <div class="header">
                        <h3>CAIR</h3> </div>
                    <div class="resources-text">
                        <p>CAIR is the nation’s largest Muslim civil rights and advocacy group.</p>
                    </div>
                    <div> <a class="btn btn-primary" href="http://www.cairseattle.org/" target="_blank">Learn more </a> </div>
                </div>
            </div>
        </div>
    </div>
</section>