<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;PRAYERS</h3> </div>
                    <div class="services-content">
                        <p> One of the core services EMAS offers is Prayer (Salah). There are separate prayer halls for men & women, with separate wudhu (ablution) areas. EMAS is a full time Masjid (mosque) that conducts the five daily Salah (prayer services), seven days a week, all year long. The following congregational prayers are offered: </p>
                        <ul class="li-bullets">
                            <li>Five daily prayers</li>
                            <li>Jumu'ah prayer</li>
                            <li>Janazah (funeral) prayers</li>
                            <li>Taraweeh during Ramadan</li>
                            <li>Qiyam Al-Layl during the last ten nights of Ramadan</li>
                            <li>Eid Al-Fitr &amp; Eid Al-Adha prayers</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-bed fa-lg"></i>&nbsp;&nbsp;Islamic Funerals</h3> </div>
                    <div class="services-content">
                        <p> In the case of death, Alhamdulillah EMAS has the facility to accommodate the burial preparations. We also welcome our brothers and sisters of other faiths to join us during the actual janazah prayer (funeral prayer) to offer condolences to the family of the deceased.
                            <br> For more information call us.
                            <br> <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp; (206) 243-1251 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-money fa-lg"></i>&nbsp;&nbsp;Financial Assistance (Zakat/Sadaqah) Services</h3> </div>
                    <div class="services-content">
                        <p> Alhamdulillah, EMAS gladly offers financial assistance to those who need. We simply ask that you provide us with the required information demonstrating your need for financial assistance. Click Here to download the EMAS Assistance Form. </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;Family Counseling</h3> </div>
                    <div class="services-content">
                        <p> EMAS provides spirtually based Islamic counseling with Imams or Muslim counselors/spiritual advisors. This service is provided for those who are seeking confidential and safe spiritually based Islamic counseling utilizing the teaching of the Glorious Quran and the hadith of the Prophet Muhammad, peace be upon him. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-mars-double fa-lg"></i>&nbsp;&nbsp;Marriage(Nikkah) Services</h3> </div>
                    <div class="services-content">
                        <p> EMAS provides marriage services to perform &quot;Aqd&quot; or &quot;Nikah&quot; for Muslims according to Islamic practice of marriage principles.
                            <br> For more information please call us.
                            <br> <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp; (206) 243-1251 </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-wrapper">
                    <div class="header">
                        <h3><i class="fa fa-eye fa-lg"></i>&nbsp;&nbsp;Visiting EMAS</h3> </div>
                    <div class="services-content">
                        <p> EMAS welcomes visitors and encourages people of other faiths to visit our faith institution. Please kindly contact us before visiting so we can prepare. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>