<section class="section-confirm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="newsletter-confirm">
                    <h3><i class="fa fa-info-circle"></i>&nbsp;Almost finished ...</h3>
                    <p>Before we can start sending you any content we need to confirm your email address.
                        <br> To complete the subscription process, please click the link <span class="confirm">&quot;Yes, subscribe me to this list &quot;</span> in the email we just sent you.
                        <br> If you couldn't find the email in your inbox, please check it on your Junk or Spam folder.</p>
                </div>
            </div>
        </div>
    </div>
</section>