<section class="section-success">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="newsletter-confirm">
                    <h3><i class=" fa fa-check-circle"></i>&nbsp;Subscription Confrimed!!!</h3>
                    <p>Your subscription to our newsletter has been confirmed.
                        <br>Thank you for subscribing! You will soon start receiving our informative newsletters and updates.</p>
                </div>
            </div>
        </div>
    </div>
</section>